doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    script.
      function VerEntidade(id){
        console.log('ola')
        window.location.href = ('http://localhost:3000/entidades/'+ id)
      }
      function VerInfo(id){
        console.log('ola')
        window.location.href = ("http://localhost:3000/enti/"+ id)
      }
      
  body
    block content