doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    script. 
      function VerDiploma(id){
          console.log('ola')
          window.location.href = ('http://localhost:3000/diploma/'+ id)
        }
      function VerEnt(sigla){
        window.location.href =('http://clav.dglab.gov.pt/entidades/' + sigla)
      }
  body
    block content
